@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap:,300,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap:300,500,600,700,800,900");

body,
html {
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: #f3efef;
  /* added for ios devices */
  -webkit-overflow-scrolling: touch;
}
/* fonts  */
.navbar,
.mont-font,
.btn {
  font-family: "Montserrat", sans-serif;
}
.bebas {
  font-family: "Bebas Neue", cursive;
}
/* colors */

.white {
  color: #ffffff;
}
/* for hidden inputs */

.hideContent {
  display: none;
}

.green {
  color: #80bd01;
}
/* for navbar */
/* .navbar {
  /* background-color: #679603; */

/* home page carousel */

.carousel-control-next,
.carousel-control-prev {
  width: 5%;
  color: rgb(82, 81, 81);
}

.carousel-caption {
  margin-bottom: 15rem;
}
/* background images */
.bg-img-div-1 {
  background: url("https://res.cloudinary.com/plyn85/image/upload/v1619290169/freshly-sliced-eatery/pexels-photo-4916557_1_tyxed0.jpg")
    no-repeat fixed;
}
.bg-img-div-2 {
  background: url("https://res.cloudinary.com/plyn85/image/upload/v1619277905/freshly-sliced-eatery/pexels-photo-1435904_lur20p_gylolq.jpg")
    no-repeat fixed;
}
.bg-img-div-3 {
  background: url("https://res.cloudinary.com/plyn85/image/upload/v1619297484/freshly-sliced-eatery/pexels-photo-6210891_rz3lct.jpg")
    no-repeat fixed;
}
.meal-1 {
  background: url("https://res.cloudinary.com/plyn85/image/upload/v1619298700/freshly-sliced-eatery/meal1_nla3i8.jpg")
    no-repeat;
}
.meal-2 {
  background: url("https://res.cloudinary.com/plyn85/image/upload/c_scale,w_700/v1619300972/freshly-sliced-eatery/SATAYSFIED-CHICKEN-BOWL_srgsfb.jpg")
    no-repeat;
}
.meal-3 {
  background: url("https://res.cloudinary.com/plyn85/image/upload/c_scale,w_700/v1619301053/freshly-sliced-eatery/PAPRIKA-CHICA-SALAD-WRAP-1_oo5ugj.jpg")
    no-repeat;
}
.meal-4 {
  background: url("https://res.cloudinary.com/plyn85/image/upload/c_scale,w_700/v1619301053/freshly-sliced-eatery/PAPRIKA-CHICA-SALAD-WRAP-1_oo5ugj.jpg")
    no-repeat;
}
.meal-5 {
  background: url("https://res.cloudinary.com/plyn85/image/upload/c_scale,w_700/v1619301251/freshly-sliced-eatery/NEW-SPICY-MIDDLE-EASTERN-CHICKEN2_ac2krd.jpg")
    no-repeat;
}
.meal-6 {
  background: url("https://res.cloudinary.com/plyn85/image/upload/c_scale,w_700/v1619301364/freshly-sliced-eatery/VEGAN-HOISIN-SHROOMS-SALAD-1_wxq5l4.jpg")
    no-repeat;
}
.meal-7 {
  background: url("https://res.cloudinary.com/plyn85/image/upload/v1619300801/freshly-sliced-eatery/CHICKEN-TACO-SALAD-WRAP-1_xblclm.jpg")
    no-repeat;
}
.meal-8 {
  background: url("https://res.cloudinary.com/plyn85/image/upload/c_scale,w_700/v1619300836/freshly-sliced-eatery/JAPANESE-SALMON-SALAD-1_k17odm.jpg")
    no-repeat;
}
.meal-12 {
  background: url("https://res.cloudinary.com/plyn85/image/upload/c_scale,w_700/v1619302577/freshly-sliced-eatery/Gochujang-Korean-Plate-1_ud1h5c.jpg")
    no-repeat;
}
.meal-13 {
  background: url("https://res.cloudinary.com/plyn85/image/upload/c_scale,w_700/v1619302648/freshly-sliced-eatery/Warm-Miso-Plate-2_hn07kg.jpg")
    no-repeat;
}
.meal-14 {
  background: url("https://res.cloudinary.com/plyn85/image/upload/c_scale,w_700/v1619302698/freshly-sliced-eatery/Chimichurri-Chicken-Plate-1_u5rljh.jpg")
    no-repeat;
}
.meal-15 {
  background: url("https://res.cloudinary.com/plyn85/image/upload/c_scale,w_700/v1619302740/freshly-sliced-eatery/SPICED-HARISSA-DUKKAH-CAULI_q7empy.jpg")
    no-repeat;
}
.location-page {
  background: url("https://res.cloudinary.com/plyn85/image/upload/c_scale,w_1500/v1619304662/freshly-sliced-eatery/pexels-photo-1307698_xdeybg.jpg")
    no-repeat fixed;
}
.bg-img-collection-form {
  background: url("https://res.cloudinary.com/plyn85/image/upload/v1619342723/freshly-sliced-eatery/healthy-lunch-go-packed-lunch-box_1220-4541_d6qo39.jpg")
    no-repeat fixed;
}
/* for home page */
/* carousel images and text */

.carousel-item .img-fluid {
  width: 100%;
  height: 100%;
}
/* our story page page images and carousel*/
.bg-img-collection-form,
.location-page,
.bg-img-div-3,
.carousel-item,
.bg-img-div {
  color: #000;
  background-position-x: 50%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

/* setting view heights for background images */
.bg-img-collection-form,
.carousel-item,
.location-page,
.bg-img-div {
  height: 100vh;
}
.bg-img-div-3 {
  height: 40vh;
}
/* our story page */
/* about text */
.company-info-row,
.about-text {
  background-color: #eae9e93b;
}
/* for all about header */
.about-header {
  text-shadow: 0.02em 0 lightgray, 0 0.02em lightgray;
}
.our-story-text {
  /* our story text  */
  line-height: 2rem;
}
/* for meals page cols */
.meals-col {
  height: 20rem;
}
/* location page */

/* set height for row */
/* .location-page-row {
  height: 25rem;
} */
/* shopping cart css */

.quantity {
  float: left;
  margin-right: 15px;
  background-color: #eee;
  position: relative;
  width: 80px;
  overflow: hidden;
}

.quantity input {
  margin: 0;
  text-align: center;
  width: 15px;
  height: 15px;
  padding: 0;
  float: right;
  color: #000;
  font-size: 20px;
  border: 0;
  outline: 0;
  background-color: #f6f6f6;
}

.quantity input.qty {
  position: relative;
  border: 0;
  width: 100%;
  height: 40px;
  padding: 10px 25px 10px 10px;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  border-radius: 0;
  background-clip: padding-box;
}

.quantity .minus,
.quantity .plus {
  line-height: 0;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-size: 6px 30px;
  -moz-background-size: 6px 30px;
  color: #bbb;
  font-size: 20px;
  position: absolute;
  height: 50%;
  border: 0;
  right: 0;
  padding: 0;
  width: 25px;
  z-index: 3;
}

.quantity .minus:hover,
.quantity .plus:hover {
  background-color: #dad8da;
}

.quantity .minus {
  bottom: 0;
}
.shopping-cart {
  margin-top: 20px;
}

/* css for checkout  */
.card {
  border: none;
}

.form-control {
  border-bottom: 2px solid #eee !important;
  border: none;
  font-weight: 600;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #8bbafe;
  outline: 0;
  box-shadow: none;
  border-radius: 0px;
  border-bottom: 2px solid blue !important;
}

/* .inputbox {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.inputbox span {
  position: absolute;
  top: 7px;
  left: 11px;
  transition: 0.5s;
}

.inputbox i {
  position: absolute;
  top: 13px;
  right: 8px;
  transition: 0.5s;
  color: #3f51b5;
} */

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputbox input:focus ~ span {
  transform: translateX(-0px) translateY(-15px);
  font-size: 12px;
}

.inputbox input:valid ~ span {
  transform: translateX(-0px) translateY(-15px);
  font-size: 12px;
} */

.card-blue {
  background-color: #575658;
}

.hightlight {
  background-color: #575658;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  font-size: 14px;
}

.decoration {
  text-decoration: none;
  font-size: 14px;
}

/* for login form */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 768px) {
  /* giving carousel images 100% height on mobile */
  .img-fluid {
    height: 100%;
  }
  .our-story-text {
    /* our story text  */
    font-size: 0.75rem;
  }
  .our-story-text-header {
    font-size: 1.6rem;
  }
  /* carousel text */
  .carousel-caption p {
    font-size: 3rem;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .our-story-text {
    /* our story text  */
    font-size: 1.25rem;
  }
  .our-story-text-header {
    font-size: 3rem;
  }
  /* carousel text */
  .carousel-caption p {
    font-size: 5rem;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
