@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css");

* {
  border: 1px solid red;
}
/* colors */

.white {
  color: #ffffff;
}
/* home page carousel */

.carousel-control-next,
.carousel-control-prev {
  width: 5%;
  color: rgb(82, 81, 81);
}

.carousel-caption {
  margin-bottom: 15rem;
}

.bg-img-div-1 {
  background: url("../images/healthy-food-background.jpg") no-repeat fixed;
}
.bg-img-div-2 {
  background: url("../images/p3_MedDiet_W1806_gi667751254.jpg") no-repeat fixed;
}

/* our story page page images and carousel*/
.carousel-item,
.bg-img-div {
  color: #000;
  height: 100vh;
  /* background-position-x: 50%; */
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
